<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임 상태 관리</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<button type="button">게임 상태 보기</button>
<script>
document.querySelector('button').addEventListener('click', () => {
    window.location.href = '/admin/game-status';
})
</script>
</body>
</html>