<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>

    <!-- CSRF 토큰 정보 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        form { max-width: 400px; margin: auto; display: flex; flex-direction: column; gap: 12px; }
        input { padding: 10px; font-size: 16px; }
        button { padding: 10px; font-size: 16px; cursor: pointer; }
    </style>
</head>
<body>

<h2>안녕하세요!</h2>
<h2>로그인 화면입니다.</h2>

<form id="loginForm">
    <input type="text" id="authUserId" name="authUserId" placeholder="아이디" required>
    <input type="password" id="authPassword" name="authPassword" placeholder="비밀번호" required>
    <button type="submit">로그인</button>
</form>

<script>
    document.getElementById("loginForm").addEventListener("submit", async function (e) {
        e.preventDefault();

        const userId = document.getElementById("authUserId").value;
        const userPw = document.getElementById("authPassword").value;

        const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        //new API path: /api/v1/auth/login
        ///game-hub/api/v1/login : past API path
        const response = await fetch("/api/v1/auth/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                //"Content-Type": "application/json",
                [header]: token
            },
            body: new URLSearchParams({
                authUserId: userId,
                authPassword: userPw
            })
        });

        if (response.ok) {
            const jwt = response.headers.get("Authorization"); // Bearer 토큰
            //alert("로그인 성공! 토큰: " + jwt);

            localStorage.setItem("jwt", jwt); // JWT 저장

            window.location.href = "/game-hub"; // 홈으로 이동
        } else {
            const msg = await response.text();
            alert("로그인 실패: " + msg);
        }
    });
</script>

</body>
</html>
